---
layout: layout
title: My Books
---

{% assign books = site.data.bookshelf %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/bookshelf.css" />
  </head>

  <body>
    <div class="container">
      <h1 class="fs-3 fw-bold">My Bookshelf</h1>
      <div class="panel panel-default panel-body">
        <p>
          A long long time ago I was a <i>huuuge</i> bookworm but since starting
          university in 2016 I have barely touched a book other than a
          text-book. I've been wanting to get back into reading for a while
          since graduating in 2021. To get into this habit, I've set myself a
          challenge to read my books rather than aimlessly scroll on my phone at
          lunchtime.
        </p>

        <p>
          Taking inspiration from
          <a href="https://petargyurov.com/bookshelf/">Petar Gyurov</a>, I've
          opted to keep track of my reads list via this virtual bookshelf which
          also incentivises me to keep growing my read list.
        </p>

        <p>
          This list isn't complete as it does not include the hundreds of books
          I read as a teenager, but it is a clean slate to start from.
        </p>
        <p><b>Total Read:</b> {{books.size}}</p>
      </div>

      {% assign groupByYear = books | group_by_exp:"book","book.dateread |
      date:'%Y' " %}
      <hr />
      {% for year in groupByYear %}

      <h2 class="fs-3 fw-bold text-start">
        {% if year.name == nil %} Other {% else %} {{year.name}}{% endif %}
      </h2>

      <div class="bookshelf">
        {% for book in year.items %}
            <div class="book">
              <div class="side spine">
                <span class="spine-title"> {{book.title}} </span>
                <span class="spine-author"> {{book.author}} </span>
              </div>
              <div class="side top"></div>
              <div
                class="side cover"
                style="background-image:  url({{book.cover}}); cursor: pointer;"
                onclick="window.location='https://www.goodreads.com/search?q={{book.title}}';"
              ></div>
            </div>
        {% endfor %}
      </div>
      <hr />
      {% endfor %}
    </div>
  </body>
  <script src="/static/js/bookshelf.js"></script>
</html>
