---
layout: layout
---

<script type="application/ld+json">
{% include actions/profile.json %}
</script>

<section id="about">
  <div class="container">
    <div class="avatar m-4">
      <img class="img-circle" src="/static/img/{{ site.avatar }}" height="256" width="256" alt="Responsive image" />
    </div>

    <h1 class="fs-3">
      Hi 👋, I'm <text class="fw-bold">{{ site.author }}</text>.
    </h1>
    <h3>
      Machine Learning Researcher at
      <a class="plausible-event-name=Home+Page" href="https://www.proximafusion.com/">Proxima Fusion</a> and 4th year
      PhD candidate at the
      <a class="plausible-event-name=Home+Page" href="https://goo.gl/maps/fWM9jdh2wmeXHZEr7">University of Glasgow</a>
    </h3>
    <br />

    <h3>
      🔭 Industry Focus: Stellarator Magnetics Design
    </h3>
    <br />

    <h3>
      🌱 PhD Research: Path Planning for Search and Rescue using Machine Learning
    </h3>
    <br />

    <h3>
      💻 Current and Past Projects:
      <a class="plausible-event-name=Home+Page" href="https://github.com/iwishiwasaneagle/jpathgen">jpathgen
        (private)</a>,
      <a class="plausible-event-name=Home+Page" href="https://github.com/iwishiwasaneagle/jdrones">jdrones</a>,
      <a class="plausible-event-name=Home+Page" href="https://github.com/iwishiwasaneagle/jpdmgen">jpdmgen
        (private)</a>,
      <a class="plausible-event-name=Home+Page" href="https://github.com/iwishiwasaneagle/libjdrones">libjdrones</a>,
      <a class="plausible-event-name=Home+Page" href="https://github.com/iwishiwasaneagle/libjpathgen">libjpathgen</a>,
      <a class="plausible-event-name=Home+Page" href="https://github.com/iwishiwasaneagle/cubpackpp">cubpackpp</a>, and
      my thesis
    </h3>
    <br />

    <h3>
      Have a look at some of my working
      <a class="plausible-event-name=Home+Page" href="/projects"> projects</a>.
    </h3>
    <h3>
      Or checkout any of my
      <a class="plausible-event-name=Home+Page" href="/blog">{{ site.posts | size }} blog posts</a>
      on various topics!
    </h3>
    <div class="social">{% include social.html %}</div>
  </div>
</section>