<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAHoBEuW79aZdeO4ZXrGopAlT6wiA5ofsw",
    authDomain: "personal-website-ac034.firebaseapp.com",
    databaseURL: "https://personal-website-ac034.firebaseio.com",
    projectId: "personal-website-ac034",
    storageBucket: "personal-website-ac034.appspot.com",
    messagingSenderId: "833656218217",
    appId: "1:833656218217:web:caafd3b12fa4339d3438f8",
    measurementId: "G-ENH6ZXJBKC"
  };
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>