<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none plausible-event-name=Header+Click"
    >
      <img
        src="/static/img/logo.png"
        width="100px"
        alt="Jan-Hendrik Ewers Logo"
        class="img-fluid"
      />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a
          href="/blog"
          class="nav-link px-2 link-dark plausible-event-name=Header+Click"
          >BLOG</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class="nav-link px-2 link-dark plausible-event-name=Header+Click"
          >PROJECTS</a
        >
      </li>
      <li>
        <a
          href="/bookshelf"
          class="nav-link px-2 link-dark plausible-event-name=Header+Click"
          >MY BOOKSHELF</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/cv.pdf"
          class="nav-link px-2 link-dark plausible-event-name=Header+Click"
          >RESUME</a
        >
      </li>
    </ul>
  </header>
</div>
