<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<img src="https://spotify.janhendrikewers.uk/favicon.ico" width=16 height=16/>&nbsp;&nbsp;<strong><a href="https://spotify.janhendrikewers.uk">Autonoma</a></strong>
			- Ei viderer tacimates pro, quem assum ea nam. Veritus omnesque eam te. Et natum mucius tamquam vel,
			ea dolorem volumus deterruisset nec. Graeci mentitum sea an, eu prima elaboraret est.
		</h5>
		<h5>
			<img src="https://boxofhope.co.uk/favicon.ico" width=16 height=16/></i>&nbsp;&nbsp;<strong><a href="https://github.com/iwishiwasaneagle/boxofhope">Box of Hope</a></strong>
			- Box Of Hope is a C++ event driven platform to protect you during the COVID-19 pandemic. BOH uses NFC and WiFi technology to ensure your mask usage is on point and employs sterilizing UV LEDs to clean your fabric mask.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/iwishiwasaneagle/OPP_4_SAR">Optimum Path Planning for Search and Rescue</a></strong>
			- Jan-Hendrik Ewers has been working on Optimal Path Planning (OPP) for (4) Search and Rescue (SAR) for their Masters Thesis. This repository it the codebase for said thesis.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/iwishiwasaneagle/wiringPi-mock">wiringPi-mock</a></strong>
			- A dummy wiringPi library, for compiling on non-raspberry pi platforms
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/iwishiwasaneagle/memer">memer</a></strong>
			- CLI tool to quickly convert normal text into things your friends will hate!
		</h5>
    </div>
  </div>
</div>
</section>
