<section id="projects">
  <div class="container">
    <h1 class="fs-3 fw-bold">My Personal Projects</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 id="jdrones">
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/iwishiwasaneagle/jdrones"
              >jdrones</a
            ></strong
          >
          - PyBullet models prepared for usage via the gymnasium environment for
          scientific research
        </h5>
        <h5 id="latextemplate">
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/iwishiwasaneagle/LatexPaperTemplate"
              >LatexTemplate</a
            ></strong
          >
          - A nice GitHub template for my reports and papers. Actively
          maintained with excellent VSCode integration via devcontainers to
          avoid messy Latex installation.
        </h5>
        <h5 id="latexresponsetoreviewerstemplate">
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong
            ><a href="https://github.com/iwishiwasaneagle/LatexResponseToReviewersTemplate"
              >LatexResponseToReviewersTemplate</a
            ></strong
          >
          - A nice template to write your response to the reviewers in Latex.
        </h5>
      </div>
    </div>
  </div>
</section>
