<div class="social">
  <h4>
    {% if site.github %}
    <a
      class="plausible-event-name=Home+Page"
      href="http://github.com/{{ site.github }}"
      ><i class="fa fa-github"></i
    ></a>
    {% endif %} {% if site.email %}
    <a class="plausible-event-name=Home+Page" href="mailto:{{ site.email}}"
      ><i class="fa fa-envelope"></i
    ></a>
    {% endif %} {% if site.twitter %}
    <a
      class="plausible-event-name=Home+Page"
      href="http://twitter.com/{{ site.twitter }}"
      ><i class="fa fa-twitter"></i
    ></a>
    {% endif %} {% if site.linkedin %}
    <a
      class="plausible-event-name=Home+Page"
      href="http://linkedin.com/in/{{ site.linkedin }}"
      ><i class="fa fa-linkedin"></i
    ></a>
    {% endif %} {% if site.stackoverflow %}
    <a
      class="plausible-event-name=Home+Page"
      href="http://stackoverflow.com/{{ site.stackoverflow }}"
      ><i class="fa fa-stack-overflow"></i
    ></a>
    {% endif %} {% if site.medium %}
    <a
      class="plausible-event-name=Home+Page"
      href="https://medium.com/@{{ site.medium }}"
      ><i class="fa fa-medium"></i
    ></a>
    {% endif %} {% if site.orcid %}
    <a
      class="plausible-event-name=Home+Page"
      itemprop="sameAs"
      content="https://orcid.org/{{ site.orcid }}"
      href="https://orcid.org/{{ site.orcid }}"
      target="orcid.widget"
      rel="me noopener noreferrer"
      style="vertical-align: top"
    >
      <i class="ai ai-orcid"></i>
    </a>
    {% endif %}
  </h4>
</div>
