---
---

<div class="pubitem">
  <p class="pubreference">
    {% if entry.oa %}
    <i class="ai ai-open-access"></i>
    {% endif %} {{reference}}
  </p>
  <div class="publinks">
    <a
      href="{% details_link entry.key %}"
      class="publink plausible-event-name=Publications+Page"
      ><i class="fa fa-link"></i
    ></a>
    {% if entry.doi %}
    <a
      href="https://doi.org/{{entry.doi}}"
      class="publink plausible-event-name=Publications+Page"
      ><i class="ai ai-doi"></i
    ></a>
    {% endif %}
    {% if entry.publisher == "arXiv" and entry.eprint %}
    <a
      href="https://arxiv.org/abs/{{entry.eprint}}"
      class="publink plausible-event-name=Publications+Page"
      ><i class="ai ai-arxiv"></i
    ></a>
    {% endif %}
  </div>
</div>
